
body {
 background-image: url("../sky.webp");
  background-position: center center;
  background-size: 100% 100%;
}

h1{
  text-align: center;
  height: 100px;
}
#gameButtons{
  text-align: center;

}

#players{
  text-align: center;
  position: relative;
}

#messages{   
  font-family: 'Rubik Distressed', cursive;
  text-align: block;
  color: rgb(236, 240, 30);
  font-size: 2em;
  width: 100;
  top: 10%;
  font: bold;
  opacity: 0.6;
}

#gameWon{
    position: absolute;
    top: -89px;
    left: 109px;
    opacity: 0.9;
    width: 600px;
    height: 441px;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  background-color: #10141868;
  padding: 10px;
  border: 3px solid rgb(213, 234, 54);
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;

}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 100px;
  line-height: 100px;
  font-size: 5em;
}

#stickerX {
  position: absolute;
  top: 20%;
  left: -100px;
  width: fit-content;
  display: inline-block;
}

#stickerO {
  position: absolute;
  top: 20%;
  right: -100px;
  width: fit-content;
  display: inline-block;
}
.scores{
  text-align: center;
  color: aliceblue;
}
#scoreX{
  left: 500px;
  top: 954px;
  font-size: 4em;
  width:50%;
  margin : 0;
  float : left ;
  display: block;
}

#scoreO{
  font-size: 4em;
  width:50%;
  margin : 0;
  float : left ;
  display: block;
}

@media screen and (max-width: 350px){
  body {

  }
}

